<ul class="nav nav-tabs">
    <li id="admin-registration">@Html.ActionLink("Admin Registration", "AdminRegistration")</li>
    <li id="guest-registration">@Html.ActionLink("Guest Registration", "GuestRegistration")</li>
</ul>
